body{
    background-color: #f7a838;
}
.titulo{
    font-family: arial;
    text-align: center;
    color: aliceblue;
}
.texto {
    padding: 5px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    size: 6;
}
.texto2{
    margin: 5px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    size: 4;
    text-align: justify;
    width: 750px;
}
.imagem-principal{
    border-radius: 7px;
    width: 1320px;
    height: 400px;
    margin: 5px;
}
table{
    width: 1050px;
    height: 100px;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}
div{
    width: 800px;
    height: 150px;
    text-align: justify;
}
p, img {
    display: inline-block;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #f7a838;
    transition: 0.2s ;
    text-decoration: underline;
}
.imagem-pag3{
    background-image: url('/images/turismo-Argentina.jpg');
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.imagem-pag2{
    background-image: url('/images/img-pag2.jpeg');
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}